Click==7.0
Flask==1.0.3
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.4
mailjet-rest==1.3.3
https://storage.googleapis.com/bbc-datascience-libraries/python/dslib-0.0.4.tar.gz
geopy==1.20.0
