{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('groups') }}"><img class="logo_wide" src="{{ url_for('static', filename='img/logo_wide.png') }}"></a>


<h1>{{ group['name'] }}</h1>

<table align="center">

{% for member in members %}
    <tr>
        <td>{{ member['username'] }} </td>
        <td>[{{ member['address_1'] }}]</td>
        <td>[{{ member['address_2'] }}]</td>
    </tr>
{% endfor %}

</table>
<table align="center">

    <tr>
        <td><button onclick="window.location.href='{{ url_for('search',  group_id=group['id']) }}'">Meet!</button></td>
        <form action="" method="post">
        <td><button name="leave_group" value="{{ group['id'] }}" type="submit">Leave</button></td>
        </form>
    </tr>

</table>

<h1>Share group</h1>

<p><textarea>http://35.246.137.4/groups?subscribe={{ group['id'] }}</textarea></p>

<p><a href="{{ url_for('groups') }}">Back to Groups</a></p>

{% endblock %}
