
<html>

<head>
    <title>{{ group['name'] }}</title>
</head>

<body>

<h1>{{ group['name'] }}</h1>

<p><a href="{{ url_for('groups') }}">Back</a></p>

<table align="center">
<form action="" method="post">

{% for member in members %}
    <tr>
        <td>{{ member['username'] }} </td>
        <td>[{{ member['address_1'] }}]</td>
        <td>[{{ member['address_2'] }}]</td>
    </tr>
{% endfor %}

    <tr><td>Share: http://0.0.0.0:5000/groups?subscribe={{ group['id'] }}</td></tr>
    <tr><td><button name="leave_group" value="{{ group['id'] }}" type="submit">Leave this group</button></td></tr>

</form>

    <tr><td><button onclick="window.location.href='{{ url_for('search',  group_id=group['id']) }}'">Search</button></td></tr>

</table>
</body>
</html>
