<html>

<head>
    <title>Groups</title>
</head>

<body>

<h1>My groups</h1>

<table align="center">

{% if not groups %}

    <tr><td>
    You have no groups yet.
    </td></tr>

{% else %}

    {% for group in groups %}
        <tr><td>
        <a href="{{url_for('group', group_id=group['id'])}}">{{group['name']}}</a>
        </td></tr>
    {% endfor %}

{% endif %}

</table>

<form action="" method="post">
<table align="center">
    {{ form.hidden_tag() }}
    <tr><td>
        {{ form.new_group_name() }}<br>
        {% for error in form.new_group_name.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </td></tr>
    <tr><td>
        <button type="submit">Create group</button>
    </td></tr>
</table>
</form>


{% if subscribe %}

<h1>Subscribe</h1>

<form action="" method="post">
<table align="center">
    <tr>
        <td>{{ subscribe['name'] }}</td>
        <td><button name="accept_group" value="{{ subscribe['id'] }}" type="submit">OK</button></td>
        <td>[Remove]</td>
    </tr>
</table>
</form>

{% endif %}

</body>
</html>
