{% extends "base.html" %}

{% block content %}

<div class="to_center">

<table align="center">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <tr><td>
            {{ form.username() }}<br>
            {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.email() }}<br>
            {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.password() }}<br>
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.password2() }}<br>
            {% for error in form.password2.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.address_1() }}<br>
            {% for error in form.address_1.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.address_2() }}<br>
            {% for error in form.address_2.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            <div id="locationField">
              <input id="autocomplete"
                     placeholder="Enter your address"
                     onFocus="geolocate()"
                     type="text"/>
            </div></td></tr>
        <tr><td>
            <button type="submit">Sign in</button>
        </td></tr>
        <tr><td>
            <p><a href="{{url_for('login')}}">Back</a></p>
        </td></tr>
    </form>
</table>

</div>

<script src="{{ url_for('static', filename='js/autocomplete.js') }}" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxbIGyktrkTiKx9vVXkgoVihDqPZ6vJCM&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}
